*,
::before,
::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.wrapper {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0 10px 16px 0 #ddd;
}

input[type="number"],
input[type="text"],
select {
  width: 100%;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 20px;
}

h3 {
  color: #fff;
  background-color: #333;
  padding: 0 4px;
}

label {
  color: #a52a2a;
}

.mb-2 {
  margin-bottom: 10px;
}

.alert {
  padding: 0.01em 16px;
  margin: 10px 0;
  font-size: large;
}

.alert-danger {
  color: #fff;
  background-color: #ff6347;
}

.btn {
  border: none;
  padding: 6px 14px;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #008cba; /* Blue */
  color: white;
}

.btn-block {
  display: block;
  width: 100%;
}
